<!DOCTYPE html>
<html>
  <head>
    <title>Infinity X</title>
    <meta charset="utf-8">
  </head>
  <body>
    <%- include('partials/header') %>
    <section>
      <div class="main">
        <div class="content">
          <h2>Infinity X</h2>
          <p>lorem32</p>
          <div class="buttons">
            <button class="main-btn">Invite</button>
            <button class="secondary-btn">Dashboard</button>
          </div>
        </div>
      </div>
    </section>
      
    <section>
      <div class="features">
        <div class="content">
          <h3>Our Features</h3>
          <p>Infinity XI has many advanced features..</p>
          <div class="card-right">
            <div class="card-content">
              <h2>feature</h2>
              <p>feature content</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>